@media only screen and (max-width:1240px)
{
html {width: 1240px;
margin: 0 auto;
}
}
@media (max-width: 1250px){
    .container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        display: flex;
       
       
    }
}
@media (max-width: 1024px){
    .container{
        max-width: 979px;
        width: 100%;
        margin: 0 auto;
        display: flex;
      
    }
}
@media (max-width: 979px){
    .container{
        max-width: 767px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 767px){
    .container{
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 480px){
    .container{
        max-width: 320px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}