@media (max-width: 1250px){
     header{
          max-width: 1024px;
          width: 100%;
          padding: 0;
          margin: 0;
          .container{
               padding: 0;
          }
         }
}
@media (max-width: 1024px){
     header{
          max-width: 979px;
          width: 100%;
     }
}
@media (max-width: 978px){
     header{
         max-width: 767px;
         width: 100%;
         .container{
               nav{
                    margin: 0;
                    padding: 0;

                    ul {
                         @include flex(space-around, flex-start);
                         li{
                              padding: 20px 5px;
                              a{
                                   @include font(16px, bold);
                                   margin: 25px;
                              }
                         }
                    }
               }
         }
     }
}
@media (max-width: 766px){
     header{
          max-width: 481px;
          width: 100%;
          .container{
               nav{
                    margin: 0;
                    padding: 0;
                    ul{
                         li{
                              padding: 20px 0;
                              a{
                                   @include font(14px, bold);
                              }
                         }
                    }
               }
          }
     }
}
@media (max-width: 480px){
     header{
          max-width: 320px;
          width: 100%;
          .container{
               nav{
                    margin: 0;
                    padding: 0;
               
                    ul{
                         display: flex;
                         flex-direction: column;
                         
                         li{
                              padding: 10px;
                              a{
                                   @include font(14px, 700);
                              }
                         }
                    }
                    
               }
          }
     }
}